.ticket {
  background-color: azure;
  margin: 150px 500px;
  width: 380px;
  justify-content: center;
  text-align: center;
}
.info {
  color: brown;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
}
